<section class="container-fluid py-4 residents-page ps-5 pe-5">
	<div class="mb-4">
		<h1 class="h2 mb-1">{{ 'RESIDENTS.TITLE' | translate }}</h1>
		<p class="text-muted mb-0">{{ 'RESIDENTS.DESCRIPTION' | translate }}</p>
	</div>

	<ng-container *ngIf="residents$ | async as residents">
		<div class="residents-table-wrap" *ngIf="residents.length > 0; else emptyState">
			<div class="table-responsive">
				<table class="table align-middle mb-0 residents-table" [attr.aria-label]="'RESIDENTS.TABLE.ARIA_LABEL' | translate">
					<thead>
						<tr>
							<th scope="col">{{ 'RESIDENTS.TABLE.RESIDENT' | translate }}</th>
							<th scope="col">{{ 'RESIDENTS.TABLE.FLATS' | translate }}</th>
							<th scope="col">{{ 'RESIDENTS.TABLE.MOBILE_NUMBER' | translate }}</th>
							<th scope="col">{{ 'RESIDENTS.TABLE.PARKING_SPACES' | translate }}</th>
							<th scope="col">{{ 'RESIDENTS.TABLE.STORAGE_NUMBERS' | translate }}</th>
							<th scope="col" *ngIf="isAdmin" class="actions-head">
								<span class="visually-hidden">{{ 'RESIDENTS.TABLE.ACTIONS' | translate }}</span>
							</th>
						</tr>
					</thead>

					<tbody>
						<tr class="resident-row" *ngFor="let resident of residents">
							<td>
								<div class="resident-cell">
									<span class="resident-avatar">
										<ng-container *ngIf="profileImageUrls.get(resident.id) as avatarUrl; else initialAvatar">
											<img [src]="avatarUrl" [alt]="getResidentName(resident)" class="resident-avatar-image" />
										</ng-container>
										<ng-template #initialAvatar>{{ getResidentInitial(resident.firstName, resident.lastName) }}</ng-template>
									</span>
									<span class="resident-name">{{ getResidentName(resident) }}</span>
								</div>
							</td>
							<td class="resident-value">
								<div class="resident-tag-list" *ngIf="resident.apartmentNumber !== '-'; else emptyApartmentTags">
									<span class="resident-tag" *ngFor="let apartmentTag of getCodeTags(resident.apartmentNumber)">{{ apartmentTag }}</span>
								</div>
								<ng-template #emptyApartmentTags>-</ng-template>
							</td>
							<td class="resident-value">{{ resident.phoneNumber }}</td>
							<td class="resident-value">
								<div class="resident-tag-list" *ngIf="resident.parkingSpace !== '-'; else emptyParkingTags">
									<span class="resident-tag" *ngFor="let parkingTag of getCodeTags(resident.parkingSpace)">{{ parkingTag }}</span>
								</div>
								<ng-template #emptyParkingTags>-</ng-template>
							</td>
							<td class="resident-value">
								<div class="resident-tag-list" *ngIf="resident.storage !== '-'; else emptyStorageTags">
									<span class="resident-tag" *ngFor="let storageTag of getCodeTags(resident.storage)">{{ storageTag }}</span>
								</div>
								<ng-template #emptyStorageTags>-</ng-template>
							</td>
							<td *ngIf="isAdmin" class="actions-cell">
								<button
									type="button"
									class="edit-button"
									(click)="openEditModal(resident)"
									[attr.aria-label]="'RESIDENTS.EDIT_MODAL.OPEN' | translate"
									[attr.title]="'RESIDENTS.EDIT_MODAL.OPEN' | translate"
								>
									<i class="bi bi-pencil"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</ng-container>

	<ng-template #emptyState>
		<div class="alert alert-light border" role="status">
			<i class="bi bi-info-circle-fill me-2"></i>
			{{ 'RESIDENTS.EMPTY' | translate }}
		</div>
	</ng-template> 
</section>

<div class="modal-backdrop-custom" *ngIf="isEditModalOpen && isAdmin">
	<section class="edit-modal" *ngIf="editDraft as draft" role="dialog" aria-modal="true" [attr.aria-label]="'RESIDENTS.EDIT_MODAL.ARIA_LABEL' | translate">
		<div class="edit-modal-header">
			<h2 class="h5 mb-0">{{ 'RESIDENTS.EDIT_MODAL.TITLE' | translate }}</h2>
			<button type="button" class="icon-close" (click)="closeEditModal()" [attr.aria-label]="'COMMON.CLOSE' | translate">
				<i class="bi bi-x-lg"></i>
			</button>
		</div>

		<div class="edit-modal-body">
			<div class="form-item mb-3">
				<label class="form-label form-label-icon" for="resident-profile-image-file-hidden">
					<i class="bi bi-image"></i>
					<span>{{ 'RESIDENTS.EDIT_MODAL.PROFILE_PICTURE' | translate }}</span>
				</label>

				<input
					#residentProfileImageInput
					id="resident-profile-image-file-hidden"
					type="file"
					class="d-none"
					accept="image/png,image/jpeg,image/webp,image/gif"
					(change)="onProfileImageSelected($event)"
				/>

				<div
					class="resident-profile-avatar-upload mt-2"
					(click)="openProfileImagePicker()"
					role="button"
					tabindex="0"
					[attr.title]="'RESIDENTS.EDIT_MODAL.CLICK_TO_CHANGE_PROFILE_PICTURE' | translate"
				>
					<ng-container *ngIf="selectedResidentId && profileImageUrls.get(selectedResidentId) as draftImageUrl; else draftAvatarInitial">
						<img
							[src]="draftImageUrl"
							[attr.alt]="'RESIDENTS.EDIT_MODAL.PROFILE_IMAGE_PREVIEW_ALT' | translate"
							class="profile-image-preview"
						/>
					</ng-container>
					<ng-template #draftAvatarInitial>{{ getResidentInitial(draft.firstName, draft.lastName) }}</ng-template>

					<div class="resident-profile-avatar-overlay">
						<i class="bi bi-camera-fill"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.CHANGE' | translate }}</span>
					</div>
				</div>

				<div class="field-help-text">{{ 'RESIDENTS.EDIT_MODAL.PROFILE_IMAGE_HELP' | translate }}</div>
				<div class="field-help-text" *ngIf="isUploadingProfileImage">{{ 'NAVBAR.UPLOADING_IMAGE' | translate }}</div>
			</div>

			<div class="row g-2 mb-3">
				<div class="col-12 col-md-6 form-item">
					<label class="form-label form-label-icon" for="resident-first-name">
						<i class="bi bi-person"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.FIRST_NAME' | translate }}</span>
					</label>
					<input id="resident-first-name" type="text" class="form-control" [(ngModel)]="draft.firstName" />
				</div>
				<div class="col-12 col-md-6 form-item">
					<label class="form-label form-label-icon" for="resident-last-name">
						<i class="bi bi-person-badge"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.LAST_NAME' | translate }}</span>
					</label>
					<input id="resident-last-name" type="text" class="form-control" [(ngModel)]="draft.lastName" />
				</div>
			</div>

			<div class="form-item mb-3">
				<label class="form-label form-label-icon" for="resident-email">
					<i class="bi bi-envelope"></i>
					<span>{{ 'RESIDENTS.EDIT_MODAL.EMAIL' | translate }}</span>
				</label>
				<input id="resident-email" type="email" class="form-control" [(ngModel)]="draft.email" />
			</div>

			<div class="row g-2 mb-3">
				<div class="col-12 col-md-6 form-item">
					<label class="form-label form-label-icon" for="resident-mobile">
						<i class="bi bi-telephone"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.MOBILE_NUMBER' | translate }}</span>
					</label>
					<input id="resident-mobile" type="text" class="form-control" [(ngModel)]="draft.phoneNumber" />
				</div>

				<div class="col-12 col-md-6 form-item">
					<label class="form-label form-label-icon" for="resident-flat">
						<i class="bi bi-building"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.FLATS' | translate }}</span>
					</label>
					<input id="resident-flat" type="text" class="form-control" [placeholder]="'RESIDENTS.EDIT_MODAL.FLATS_PLACEHOLDER' | translate" [(ngModel)]="draft.apartmentNumber" />
					<div class="field-help-text">{{ 'RESIDENTS.EDIT_MODAL.MULTI_VALUE_HELP' | translate }}</div>
				</div>
			</div>

			<div class="row g-2 mb-3">
				<div class="col-12 col-md-6 form-item">
					<label class="form-label form-label-icon" for="resident-parking">
						<i class="bi bi-p-square"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.PARKING_SPACES' | translate }}</span>
					</label>
					<input id="resident-parking" type="text" class="form-control" [placeholder]="'RESIDENTS.EDIT_MODAL.PARKING_PLACEHOLDER' | translate" [(ngModel)]="draft.parkingSpace" />
					<div class="field-help-text">{{ 'RESIDENTS.EDIT_MODAL.MULTI_VALUE_HELP' | translate }}</div>
				</div>

				<div class="col-12 col-md-6 form-item">
					<label class="form-label form-label-icon" for="resident-storage">
						<i class="bi bi-box-seam"></i>
						<span>{{ 'RESIDENTS.EDIT_MODAL.STORAGE_NUMBERS' | translate }}</span>
					</label>
					<input id="resident-storage" type="text" class="form-control" [placeholder]="'RESIDENTS.EDIT_MODAL.STORAGE_PLACEHOLDER' | translate" [(ngModel)]="draft.storage" />
					<div class="field-help-text">{{ 'RESIDENTS.EDIT_MODAL.MULTI_VALUE_HELP' | translate }}</div>
				</div>
			</div>

			<div class="alert alert-danger mt-3 mb-0" *ngIf="saveErrorMessage">
				{{ saveErrorMessage }}
			</div>
		</div>

		<div class="edit-modal-footer">
				<button type="button" class="btn btn-light" (click)="closeEditModal()">{{ 'RESIDENTS.EDIT_MODAL.CANCEL' | translate }}</button>
				<button type="button" class="btn btn-primary" (click)="saveResidentChanges()" [disabled]="isDraftInvalid(draft) || isUploadingProfileImage">
					{{ 'RESIDENTS.EDIT_MODAL.SAVE' | translate }}
			</button>
		</div>
	</section>
</div>
