/* You can add global styles to this file, and also import other style files */
@use "sass:meta";
@use "styles/colors" as *;
@include meta.load-css("bootstrap-icons/font/bootstrap-icons.css");

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}